In [14]:
#list, dictionary, tuple, set

y = "Yamini"
b = "Kaushal"
print("hello my name is {} {}".format(y ,b))

hello my name is Yamini Kaushal

In [11]:
a = "adit"
print(f"my name is {a}")

my name is adit

In [15]:
len("Yamini")

6

In [18]:
#logical operators with boolean

True and False
True or True

True

In [19]:
not True

False

In [ ]:
#list is a mutable, hetereogeneous, ordered sequence of items
#list() is a built-in function used to create a new list object. It can be used to convert other iterable data types like tuples, strings, or sets into a list.

In [22]:
list()

[]

In [39]:
l = [1,"Hello", 56.4]
l

[1, 'Hello', 56.4]

In [40]:
l.append('Krish')
l

[1, 'Hello', 56.4, 'Krish']

In [50]:
#indexing
l[2]

'Mini'

In [43]:
l.insert(2,"Mini")

In [49]:
l

[1, 'Hello', 'Mini', 56.4, 'Krish', [4, 5], [4, 5]]

In [51]:
l.append([4,5])

In [52]:
l

[1, 'Hello', 'Mini', 56.4, 'Krish', [4, 5], [4, 5], [4, 5]]

In [54]:
l.extend([80, "Kumar"])
l

[1, 'Hello', 'Mini', 56.4, 'Krish', [4, 5], [4, 5], [4, 5], 80, 'Kumar']

In [58]:
l = [5, 20, 70]
sum(l)

95

In [59]:
l.pop()

70

In [60]:
l

[5, 20]

In [62]:
l.pop(0)
l

[20]

In [64]:
#list gets appended in itself that many times
l*2

[20, 20]

In [65]:
lst = [1,3,2,3,4,5,6,7]
max(lst)

7

In [66]:
min(lst)

1

In [67]:
lst.count(3)

2

In [68]:
len(lst)

8

In [69]:
lst.index(3)

1

In [72]:
#returns the index of first occurence of value, start and end range is optional. 4 here is value and 3, 7 are parameters
lst.index(4,3,7)

4

In [75]:
#Set is an unorder collection, iterable, mutable, no duplicates 

set_var = set()
print(set_var)
type(set_var)

set()

set

In [78]:
set_var = {1,2,3,4,4}
set_var

{1, 2, 3, 4}

In [84]:
set_var = {"Avenger", "Ironman","Hitman"}
set_var.add("Wonderwoman")
set_var

{'Avenger', 'Hitman', 'Ironman', 'Wonderwoman'}

In [88]:
set1 = {"Avenger", "Ironman","Hitman"}
set2 = {"Avenger", "Ironman","Hitman","Hulk"}

#difference

set2.difference(set1)

{'Hulk'}